body {
    font-size: 14px;
    font-family: 'Microsoft YaHei';
}
a {
    text-decoration: none;
}
.share-icon {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.wrap {
    padding: 45px 20px 0;
}
.header {
    text-align: center;
    margin-bottom: 30px;
}
.photo {
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid #666;
}
.photo:hover {
    border-color: #3c80b5;

    -webkit-animation-name: wobble;
       -moz-animation-name: wobble;
            animation-name: wobble;

  -webkit-animation-duration: 1.2s;
     -moz-animation-duration: 1.2s;
          animation-duration: 1.2s;

  -webkit-animation-timing-function: ease-in-out;
     -moz-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
   
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.photo {
    margin-bottom: 30px;
}
.nav-item {
    display: inline-block;
    margin: 0 15px;
    color: #333;
}
.article,
.article-list {
    margin-bottom: 10px;
}
.article-list {
    border-bottom: 1px solid #adadad;
}
.time {
    display: block;
    margin-bottom: 15px;
    font-size: 12px;
    color: #999;
}
.title {
    font-weight: bold;
    margin-bottom: 12px;
}
.title a {
    color: #3a5573;
}
.article .title {
    margin-bottom: 20px;
}
.main-content p {
    margin-bottom: 15px;
    line-height: 22px;
    text-align: justify;
}
pre {
    margin: 0 5px 15px;
    padding: 15px 10px;
    line-height: 1.5em;
    border-radius: 2px;
    overflow: hidden;
    background-color: #373832;
    font-size: 12px;
}
.code {
    color: #fff;
    font-family: "PT Mono", Menlo, "Courier New", monospace;
}
.code .blue {
  color: #3da3ef;
}
.code .green {
  color: #a6e22e;
}
.code .purple {
  color: #ae81bc;
}
blockquote.q {
  padding: 15px 10px;
  margin: 0 5px 15px;
  line-height: 1.5em;
  background-color: #eee;
  border-radius: 2px;
  color: #999;
}
blockquote.q ul {
  list-style: none;
}
blockquote.q li {
  margin-bottom: 10px;
  text-align: justify;
}

@-webkit-keyframes wobble {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-180deg) translateZ(0);
            transform: rotateY(-180deg) translateZ(0);
  }
  60% {
    -webkit-transform: rotateY(30deg) translateZ(0);
            transform: rotateY(30deg) translateZ(0);
  }
  80% {
    -webkit-transform: rotateY(-10deg) translateZ(0);
            transform: rotateY(-10deg) translateZ(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0) translateZ(0);
            transform: rotateY(0) translateZ(0);
  }
}