extends layout.jade

block content
    section.section
        article.article-list
            address.time.
                2015-04-03
            h2.title
                a
                    |Javascript的作用域与this关键字
