doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
        meta(content="telephone=no", name="format-detection")
        block title
            title.
                最近更新
        block css
            link(rel="stylesheet", href="/css/reset.css")
            link(rel="stylesheet", href="/css/common.css")
    body
        //- 微信分享图片
        .share-icon
            img(src="http://www.holaim.com/blog/static/images/pic300.jpg")
        .wrap
            include inc/header
            block content
            include inc/footer
            block js
