extends ../../layout.jade

block title
    title
        |Javascript的作用域与this关键字

block content
    section.section
        article.article
            address.time.
                2015-04-03
            h2.title
                |Javascript的作用域与this关键字
            .main-content
                p.
                    这是一道关于Javascript this关键字的题目，如果你还不能很轻易的得出正确答案，那么本文也许可以帮到你。
                pre
                    code.code
                        |(function() {
                        |    console.log(111);var a = document.getElementById('fsafewfra');
                        |})();