extends ../../layout.jade

block title
    title
        |如何将百度HI改造成小黄鸡机器人

block content
    section.section
        article.article
            address.time.
                2014-11-05
            h2.title
                |如何将百度HI改造成小黄鸡机器人
            .main-content
                p
                    |小黄鸡是simsim的中文名，很多时候，大家都喜欢叫它“小贱鸡”。很早之前就有人人网的大鹏同学（注意此大鹏非彼大鹏）将它引用到了人人公共主页上。好吧，其实那个时候我还当过大鹏的同事，他应该就坐在我的楼上，只不过我还是一个初出茅庐的实习生，并不懂得如何用自己掌握的技术做一些伤天害理的事，比如本文所要介绍的如何改造小黄鸡。
                p
                    |产生这个念头的初衷纯粹是为了好玩。可是没过多久，我就为之找到了一个堂而皇之的理由：自动回复那些想要找我借会议室的人，并且不能让他们感觉到自己的敷衍。要知道，自己正在专心做某件事时却要一直注意是否有人打扰真是一件无奈的事。
                p
                    |以下是我用golang语言作为例子，向大家展示整个改造的过程以及需要注意的事项。当然，语言并不是其中的关键因素，我也不是google的脑残粉，你可以用任何你喜欢的语言，诸如java、python、php以及nodeJs来实现它。
                p
                    |首先要做的事就是登录百度，就像我们在百度首页或者passport中输入用户名和密码然后点击登录一样。其实这里所谓的登录就是在cookie中种下一些关键的字段，以便客户端与服务端进行通讯的时候告诉服务器自己已经拥有了某种状态，从而可以执行一些需要权限才能进行的操作。而对于百度来说，这个关键的cookie字段就是 “BDUSS”。
                p
                    |百度的passport在处理登录密码时，采用了RSA加密技术。RSA是一种非对称加密算法，其中应用到了数之间的互质关系以及欧拉定理等。关于RSA是如何进行加密与解密的可以自行百度一下，推荐大家看一看阮一峰的RSA算法原理，讲的十分的透彻（只可惜数学太渣，没完全看懂）。由此可见，学好数学与掌握挖掘机技术是同等的重要。好了，回到登录的话题来，passport登录一共需要四个步骤。
                p
                    |一、使用http client访问passport或者百度首页，获取必要的cookie，如BAIDID等。
                p
                    |二、访问/v2/api/?getapi接口，拿到token。token的具体作用没有仔细研究，应该是作为后续操作的验证unique key以及防止CSRF攻击用的。这是一个get请求，具体的参数如下：
                p
                    img(src='img src="./pic_001.jpg"')


